{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<p>
This is acctually a quite interesting site. Or... it will be when it is all done. Maybe I should add a gif of an under-construction-sign.
</p>

<table>
    <tr>
        <th> </th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
    </tr>
    <tr>
        <td>1</td>
        <td>A1</td>
        <td>B1</td>
        <td>C1</td>
    </tr>
    <tr>
        <td>2</td>
        <td>A2</td>
        <td>B2</td>
        <td>C2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>A3</td>
        <td>B3</td>
        <td>C3</td>
    </tr>
</table>
        
